*{
    margin: 0 ;
    font-family: Arial ;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    
}

.nav-logo{
    height: 50px;
    width: 140 px;
}
    

.logo {
    background-image : url("amazon_logo.png");
    background-size : cover;
    height: 60px;
    width: 120px;
    /*margin-top: 20px;*/
    margin-left: 25px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/*box2*/
.add-1{
    color:#cccccc;
    font-size: 0.65rem;
    margin-left: 15px;
    margin-top: 10px;
}

.add-2{
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 5px;
    font-weight: bold;
}

.add-icon{
    display: flex;
    align-items: center;
    font-size:0.8rem;
}
    
    
