*{
    margin: 0 ;
    font-family: Arial ;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    
}

.nav-logo{
    height: 50px;
    width: 140 px;
}
    

.logo {
    background-image : url("amazon_logo.png");
    background-size : cover;
    height: 45px;
    width: 90px;
    /*margin-top: 20px;*/
    margin-left: 25px;
    margin-right: 15px;
    align-self: center;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/*box2*/
.add-1{
    color:#cccccc;
    font-size: 0.65rem;
    margin-left: 15px;
    margin-right: 15px;
    /*margin-top: 10px;*/
    width: 50px;
}

.add-2{
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 5px;
    margin-right: 15px;
    font-weight: bold;
    width: 20px;
}

.add-icon{
    display: flex;
    align-items: center;
    font-size:0.8rem;
}

/*box-3*/
.nav-search{
    display:flex;
    width: 420px;
    height: 40px;
    background-color: #f3a847;
    border-radius: 5px;
    justify-content: space-evenly;
}

.search-icon{
    align-self: center;
    font-size: 1.08rem;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
}

.language{
    padding: 18px;
    font-size: 0.75rem;
}

.language .language-select{
    font-size: 0.75rem;
}

.language-select{
    background-color: transparent;
    color: #cccccc;
    border-color: transparent;
}

.user-1{
    color:#cccccc;
    font-size: 0.65rem;
    margin-left: 6px ;
    margin-right: 6px ;
    /*margin-top: 10px;*/
    width: fit-content;
}

.user-acc{
    color:#000000;
    font-size: 0.65rem;
    margin-left: 6px ;
    margin-right: 6px ;
    /*margin-top: 10px;*/
    width: fit-content; 
}

.acc{
    font-size: 0.62rem;
    background-color: transparent;
    color: #cccccc;
    border-color: transparent;
    font-weight: bolder;
    margin-left: -5px;
}

.Returns{
    color:#cccccc;
    font-size: 0.65rem;
    margin-left: 18px ;
    margin-right: 18px ;
    /*margin-top: 10px;*/
    width: fit-content;
}

.Orders{
    color:#ffffff;
    font-size: 0.65rem;
    margin-left: 18px ;
    margin-right: 18px ;
    /*margin-top: 10px;*/
    width: fit-content;
    font-weight: bold; 
}

.cart-icon i{
    width: 100%;
    height: 100%;
    border: border-box;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
}

.cart{
    margin-left: 5px;
    font-size: 0.35rem;

}
